.bg-red {
  background: $red !important;
}
.bg-blue {
  background: $blue !important;
}
.bg-light-blue {
  background: $light-blue !important;
}
.bg-dark-blue {
  background: $dark-blue !important;
}
.bg-light-red {
  background: $light-red !important;
}
.bg-white {
  background: white !important;
}
.bg-black {
  background: black !important;
}
.bg-gray {
  background: $gray !important;
}
.color-gray {
  color: $gray !important;
}
.color-red {
  color: $red !important;
}
.color-blue {
  color: $blue !important;
}
.color-light-blue {
  color: $light-blue !important;
}
.color-dark-blue {
  color: $dark-blue !important;
}
.color-light-red {
  color: $light-red !important;
}
.color-white {
  color: white !important;
}
.color-black {
  color: black !important;
}
