$blue: #4d638d;
$body: #d8e3f1;
$light-blue: #5fe3fa;
$dark-blue: #202c44;
$red: #e54435;
$light-red: #f08d85;
$gray: #f6f8fa;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;
$font-size-extra: 20px;
$font-size-big-extra: 30px;
