<nav class="navbar navbar-expand-lg navbar-light bg-blue padd-top-0 padd-bottom-0">
  <a class="navbar-brand color-white"><img class="img-logo" src="assets/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Agenda</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Productividad</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="container-input">
        <input type="search" placeholder="Buscar paciente" aria-label="Search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <i class="fa fa-bell color-white font-size-big-extra m-left-20 m-right-30 relative cursor-pointer" aria-hidden="true">
        <span class="icon-number">100</span>
      </i>
      <i class="fa fa-user-circle color-white font-size-big-extra m-left-10 m-right-10 cursor-pointer" aria-hidden="true"></i>
    </form>
  </div>
</nav>
<div class="container m-top-20">
  <div class="row">
    <div class="col-md-12">
      <p class="color-dark-blue bold font-size-small">INFORME DE PRODUCTIVIDAD</p>
    </div>
  </div>
  <div class="row m-top-30">
    <div class="col-md-2">
      <div class="select">
        <select class="select-text" [(ngModel)]="sucursal" #sucursa="ngModel" (change)="filter(sucursal, year, mes)" required>
          <option value="1" selected>Todas</option>
          <option [value]="branch.sucursal" *ngFor="let branch of branch_offices">{{branch.sucursal}}</option>
        </select>
        <span class="select-highlight"></span>
        <span class="select-bar"></span>
        <label class="select-label">Sucursal</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="select">
        <select class="select-text" [(ngModel)]="year" #yea="ngModel" (change)="filter(sucursal, year, mes)" required>
          <option [value]="2019" selected>2019</option>
          <option [value]="2018">2018</option>
          <option [value]="2017">2017</option>
          <option [value]="2016">2016</option>
        </select>
        <span class="select-highlight"></span>
        <span class="select-bar"></span>
        <label class="select-label">Periodo</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="select">
        <select class="select-text" [(ngModel)]="mes" #me="ngModel" (change)="filter(sucursal, year, mes)" required>
          <option [value]="1" selected>Enero</option>
          <option [value]="2">Febrero</option>
          <option [value]="3">Marzo</option>
          <option [value]="4">Abril</option>
          <option [value]="5">Mayo</option>
          <option [value]="6">Junio</option>
          <option [value]="7">Julio</option>
          <option [value]="8">Agosto</option>
          <option [value]="9">Septiembre</option>
          <option [value]="10">Octubre</option>
          <option [value]="11">Noviembre</option>
          <option [value]="12">Diciembre</option>
        </select>
        <span class="select-highlight"></span>
        <span class="select-bar"></span>
        <label class="select-label">Mes</label>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-customs float-right">Descargar</button>
      <button class="btn btn-customs float-right m-right-10">Enviar por correo</button>

    </div>
  </div>
  <div class="row m-top-30">
    <div class="col-md-6">
      <div class="box-main bg-white">
        <div class="row m-0 padd-20">
          <div class="col-md-6">
            <p class="color-dark-blue bold font-size-normal">CITAS AMBULATORIAS</p>
          </div>
          <div class="col-md-6">
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
          </div>
          <div class="col-md-12">
            <p class="text-center m-0"><span class="font-size-big text-small">FONASA</span> <span class="font-size-big-extra bold">120</span></p>
          </div>
          <div class="col-md-12">
            <p class="text-center m-0"> <span class="font-size-big text-small">FONASA</span> <span class="font-size-big-extra bold">120</span></p>
          </div>
          <div class="col-md-12 bg-gray">
            <p class="text-center m-0"> <span class="font-size-big text-small">TOTAL:</span>  <span class="font-size-big-extra bold">$120</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box-main bg-white">
        <div class="row m-0 padd-20">
          <div class="col-md-6">
            <p class="color-dark-blue bold font-size-normal">EXÁMENES</p>
          </div>
          <div class="col-md-6">
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
          </div>
          <div class="col-md-12">
            <p class="text-center m-top-22 m-bottom-23"><span class="font-size-big text-small">CANTIDAD</span> <span class="font-size-big-extra bold">120</span></p>
          </div>
          <div class="col-md-12 bg-gray">
            <p class="text-center m-0"> <span class="font-size-big text-small">TOTAL:</span>  <span class="font-size-big-extra bold">$120</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-top-30">
    <div class="col-md-6">
      <div class="box-main bg-white">
        <div class="row m-0 padd-20">
          <div class="col-md-6">
            <p class="color-dark-blue bold font-size-normal">CIRUGÍAS</p>
          </div>
          <div class="col-md-6">
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
          </div>
          <div class="col-md-12">
            <p class="text-center m-top-22 m-bottom-23"><span class="font-size-big text-small">CANTIDAD</span> <span class="font-size-big-extra bold">120</span></p>
          </div>
          <div class="col-md-12 bg-gray">
            <p class="text-center m-0"> <span class="font-size-big text-small">TOTAL:</span>  <span class="font-size-big-extra bold">$120</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box-main bg-white">
        <div class="row m-0 padd-20">
          <div class="col-md-6">
            <p class="color-dark-blue bold font-size-normal">DERIVACIONES</p>
          </div>
          <div class="col-md-6">
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-list-ul" aria-hidden="true"></i></button>
            <button class="btn btn-customs btn-customs-small float-right"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
          </div>
          <div class="col-md-12">
            <p class="text-center m-top-22 m-bottom-23"><span class="font-size-big text-small">CANTIDAD</span> <span class="font-size-big-extra bold">120</span></p>
          </div>
          <div class="col-md-12 bg-gray">
            <p class="text-center m-0"> <span class="font-size-big text-small">TOTAL:</span>  <span class="font-size-big-extra bold">$120</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-top-30 m-bottom-60">
    <div class="col-md-12">
      <div class="bg-white">
        <div class="row m-0 padd-20">
          <div class="col-md-12 bg-gray">
            <p class="text-center m-0"> <span class="font-size-big text-small m-right-30">TOTAL:</span>  <span class="font-size-big-extra bold">$120</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
