@for $i from 0 through 200 {
  .m-top-#{$i} {
    margin-top: #{$i}px !important;
  }

  .m-left-#{$i} {
    margin-left: #{$i}px !important;
  }

  .m-bottom-#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .m-right-#{$i} {
    margin-right: #{$i}px !important;
  }

  .m-top--#{$i} {
    margin-top: -#{$i}px !important;
  }

  .m-left--#{$i} {
    margin-left: -#{$i}px !important;
  }

  .m-bottom--#{$i} {
    margin-bottom: -#{$i}px !important;
  }

  .m-right--#{$i} {
    margin-right: -#{$i}px !important;
  }
  .m--#{$i} {
    margin: -#{$i}px !important;
  }

  .m-#{$i} {
    margin: #{$i}px !important;
  }
  .m-horizotal-#{$i} {
    margin: 0 #{$i}px !important;
  }
  .m-vertical-#{$i} {
    margin: #{$i}px 0 !important;
  }
}
