@for $i from 0 through 200 {
  .padd-top-#{$i} {
    padding-top: #{$i}px !important;
  }

  .padd-left-#{$i} {
    padding-left: #{$i}px !important;
  }

  .padd-bottom-#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .padd-right-#{$i} {
    padding-right: #{$i}px !important;
  }

  .padd-#{$i} {
    padding: #{$i}px !important;
  }
  .padd-horizotal-#{$i} {
    padding: 0 #{$i}px !important;
  }
  .padd-vertical-#{$i} {
    padding: #{$i}px 0 !important;
  }
}
